@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.alert {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 4px;
  /* box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05); */
  cursor: pointer;
  direction: ltr;
  background: white;

  width: 10%;
  text-align: center;
  z-index: 1000;
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 3px;
  border-style: solid;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0.23em;
  min-width: 250px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  border-color: green;
  color: green;
}
.warn {
  border-color: #ffc800;
  color: #b48e0f;
}
.error {
  border-color: red;
  color: red;
}
.info {
  border-color: rgb(8, 130, 201);
  color: rgb(8, 130, 201);
}
.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-left {
  position: fixed;
  box-sizing: border-box;
  top: 2em;
  left: 2em;
}
.top-right {
  position: fixed;
  box-sizing: border-box;
  top: 2em;
  right: 2em;
}
.bottom-left {
  position: fixed;
  bottom: 2em;
  left: 2em;
}
.bottom-right {
  position: fixed;
  box-sizing: border-box;
  bottom: 2em;
  right: 2em;
}
.bottom-center {
  position: fixed;
  box-sizing: border-box;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.top-center {
  position: fixed;
  box-sizing: border-box;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
